.form {
    display: flex;

    @media(max-width: 900px) {
        flex-direction: column;
    }

    & > * {
        border: none;
        background-color: var(--background-primary-color-dark);
        padding: 2rem 3rem;
        font-family: inherit;
        color: inherit;
        border-radius: 5px;

        @media(max-width: 900px) {
            width: 30rem;
            margin: 0 auto;
        }
        
        &:not(:last-child) {
            margin-right: 2.5rem;

            @media(max-width: 900px) {
                margin-right: auto;
                margin-bottom: 2.5rem;
            }
        }
    }

    &__submit {
        background-color: var(--dark-primary-color);
        color: var(--primary-text-color-light);
        font-size: 2rem;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: var(--darker-primary-color);
        }
    }
}