.quote-box {
    @include centerElement;

    @media(max-width: 600px) {
        width: 90%;
    }

    &__quotation {
        display: none;
        visibility: hidden;
        opacity: 0;

        &--visible {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    &__text {
        text-align: center;
        color: var(--primary-text-color-light);
        font-style: italic;
        font-size: 3.5rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }

    &__author {
        font-size: 2.5rem;
        font-weight: 700;
        word-spacing: .5rem;
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2);
        text-align: center;
        color: var(--secondary-color);
    }
}