.section-about {
    padding-top: 5rem;
    padding-bottom: 8rem; 
    background-color: #fff;
 
    &__features {
        display: flex;
        padding: 4rem 0;

        @media(max-width: 900px) {
            flex-direction: column;
        }
    }

    &__text {
        font-weight: 700;
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    @include triangularSliceBottom;
}

.section-quotations {
    background-image: 
        var(--darken-backcolor),
        url(../img/man-in-suit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: 55rem;
    margin-top: -14rem;
    position: relative;
    z-index: -1;

    @media(max-width: 900px) {
        margin-top: -23rem;
        height: 75rem;
    }

    & > * {
        transform: translate(-50%, -15%);
    }

}

.section-clients {
    padding: 5rem 0 10rem 0;
    background-color: var(--background-primary-color-dark);

    &__features {
        display: flex;

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    @include triangularSliceBottom;
}

.section-profit {
    padding: 12.5rem 0 5rem 0;
    margin-top: -10rem;
    background-image: 
    var(--darken-backcolor-1),
    url(../img/investment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    @media(max-width: 800px) {
        padding-top: 23rem;
        margin-top: -18rem;
    }

    &__heading {
        font-style: italic; 
    }

    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 400px) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        padding: 2rem;
        backface-visibility: hidden;
    }

    &__text {
        color: var(--primary-text-color-light-2);
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 100;
        backface-visibility: hidden;

        transition: all .3s ease-out; 
    }

    &__item:hover &__text {
        margin-left: 1.5rem;
    }
}

.section-organisers {
    background-color: #fff;
    padding: 5rem 0 10rem 0;
    @include triangularSliceBottom;
    z-index: 1;
    position: relative;

    @media(max-width: 600px) {
        padding-bottom: 15rem;
    }
 
    &__heading {
        font-size: 4rem;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        margin-bottom: 6rem;
    }

    &__box {
        display: flex;

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    &__person-info {
        color: var(--secondary-color);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__person-photo {
        margin: 0 auto;
        width: 15rem;
        height: 15rem;
        display: block;
        border-radius: 50%;
        margin-bottom: 3rem;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.04);
            filter: brightness(1.03);
        }
    }
}

.section-reserve {
    height: 70rem;
    padding: 5rem 0;
    position: relative;
    margin-top: -12rem;

    background-image: 
    var(--darken-backcolor),
    url(../img/city-view.jpg);
    background-size: cover;
    background-position: center;

    @media(max-width: 900px) {
        margin-top: -15rem;
        height: 100rem;
    }

    @media(max-width: 600px) {
        width: 100%;
    }

    &__box {
        @include centerElement;
        margin-top: 5rem;
        padding: 5rem;
        background-image: var(--darken-backcolor);
        border-radius: 5px;

        @media(max-width: 900px) {
            width: 70rem;
        }

        @media(max-width: 600px) {
            width: 100%;
        }
    }

    &__text-box {
        color: var(--primary-text-color-light);
        margin: 0 auto;
        margin-bottom: 5rem;
        text-align: center;
    }

    &__heading {
        font-size: 4.5rem;
        margin-bottom: 2rem;

        @media(max-width: 600px) {
            font-size: 3rem;
        }
    }

    &__text {
        font-size: 2.5rem;
    }
}